{% extends "template.html" %}
{% block content %}
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Configuration</li>
			</ol>
		</div>
    <div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
                    <div class="panel-heading ">
                        <label style="text-align: left">Energy Forecaster Configurations</label>
                            <button class="btn btn-default margin pull-right" type="button"><span class="fa fa-check"></span> &nbsp;Submit</button>
                    </div>
                        <div class="panel-body main-chart">
                        <form class="form-horizontal row-border" action="#">
								<div class="form-group" >
									<p class="col-md-4 control-label" >Dataset Path</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="1-dataset_path">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Number of Neurons</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="1-number_of_neurons">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Cross Validation Ratio</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="1-cross_validation_ratio">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Model Save Path</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="1-model_save_path">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Number of Iteration</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="1-number_of_iteration">
									</div>
								</div>
                        </form>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
				<div class="panel panel-default">
                    <div class="panel-heading">
                        <label>Data Traffic Forecaster Configurations</label>
                        <button class="btn btn-default margin pull-right" type="button"><span class="fa fa-check"></span> &nbsp;Submit</button>
                    </div>
                        <div class="panel-body main-chart">
                         <form class="form-horizontal row-border" action="#">
								<div class="form-group" >
									<p class="col-md-4 control-label" >Dataset Path</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="2-dataset_path">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Number of Neurons</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="2-number_of_neurons">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Cross Validation Ratio</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="2-cross_validation_ratio">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Model Save Path</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="2-model_save_path">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Number of Iteration</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="2-number_of_iteration">
									</div>
								</div>
                        </form>
                        </div>
                </div>
            </div>
    </div>
    <div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
                    <div class="panel-heading">
                        <label>Decision Maker Configuration</label>
                        <button class="btn btn-default margin pull-right" type="button"><span class="fa fa-check"></span> &nbsp;Submit</button>
                    </div>
                        <div class="panel-body main-chart">
                         <form class="form-horizontal row-border" action="#">
								<div class="form-group">
									<p class="col-md-4 control-label">Energy Higher Limit (J)</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="ehl">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Energy Lower Limit (J)</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="ell">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Traffic Higher Limit (#)</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="thl">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Traffic Lower Limit (#)</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="tll">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Reward List</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="rl">
									</div>
								</div>
                        </form>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
				<div class="panel panel-default">
                    <div class="panel-heading">
                        <label>Data Pipeline Configurations</label>
                        <button class="btn btn-default margin pull-right" type="button"><span class="fa fa-check"></span> &nbsp;Submit</button>
                    </div>
                        <div class="panel-body main-chart">
                         <form class="form-horizontal row-border" action="#">
								<div class="form-group">
									<p class="col-md-4 control-label">Kafka Host</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="kah">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Zookeeper Host</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="zh">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Spark Host</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="sh">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Elasticsearch Host</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="eh">
									</div>
								</div>
                            <div class="form-group">
									<p class="col-md-4 control-label">Kibana Host</p>
									<div class="col-md-8">
										<input type="text" name="regular" class="form-control" id="kih">
									</div>
								</div>
                        </form>
                        </div>
                </div>
            </div>
    </div>

{% endblock %}
{% block scripts %}
	<script src="../static/dashboard/js/configuration.js"></script>
{% endblock %}