<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ArchLearner</title>
    	<link rel="stylesheet" type="text/css" href="../static/login/vendor/dist/Chart.min.css">
    	<link rel="stylesheet" type="text/css" href="../static/login/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div style="width: 50%">
    <canvas id="myChart1" width="600" height="200"></canvas>
</div>
    <div style="width: 50%">
    <canvas  id="myChart2" width="600" height="200"></canvas>
</div>

</div>
    <div style="width: 50%">
    <canvas  id="myChart3" width="600" height="200"></canvas>
</div>

<script src="../static/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="../static/login/vendor/bootstrap/js/popper.min.js"></script>
<script src="../static/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/login/vendor/dist/Chart.min.js"></script>
<script src="../static/dashboard/js/charts/main-charts.js"></script>
</body>
</html>