{% extends "template.html" %}
{% block content %}
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div><!--/.row-->
        <!--
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Dashboard</h1>
			</div>
		</div> -->
		<!--/.row-->
        <div class="panel panel-container">
			<div class="row">
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fa-exchange color-blue"></em>
							<div class="large" id="total-traffic">0</div>
							<div class="text-muted">Total Traffic</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fa-bolt" style="color: rgb(54,99,235)"></em>
							<div class="large" id="total-energy">0</div>
							<div class="text-muted">Total Energy</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 no-padding">
					<div class="panel panel-orange panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fa-line-chart color-blue"></em>
							<div class="large" id="components-number">0</div>
							<div class="text-muted">Total Sensors</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 no-padding">
					<div class="panel panel-red panel-widget border-right">
						<div class="row no-padding">
                            <em class="fa fa-xl fa-bolt" style="color: rgb(54,99,235)"></em><em class="fa fa-xl fa-unlock" style="color: rgb(54,99,235)"></em>
							<div class="large">20.341J</div>
							<div class="text-muted">Energy Violation</div>
						</div>
					</div>
				</div>
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-red panel-widget ">
						<div class="row no-padding">
                            <em class="fa fa-xl fa-exchange color-blue"></em><em class="fa fa-xl fa-unlock color-blue"></em>
							<div class="large">204211msg</div>
							<div class="text-muted">Traffic Violation</div>
						</div>
					</div>
				</div>
			</div><!--/.row-->
		</div>
         <div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Total Energy Chart
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body main-chart">
						<div class="canvas-wrapper" id="new-chart1">
							<canvas class="" id="myChart1" height="150" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->

        <div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
					           <select  id="sel" class="btn btn-default dropdown-toggle margin">
                                   <option id="option"></option>
                               </select>
                        <p3 id="single-energy-chart">Energy Chart </p3>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body main-chart">
						<div class="canvas-wrapper " id="new-chart4">
							<canvas class="chart " id="myChart4" height="150" width="600" ></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Energy Distribution 10min
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body main-chart">
						<div class="canvas-wrapper" id="new-chart3">
							<canvas class="chart"  id="myChart3" height="150" width="600" ></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
       <div class="row">
			<div class="col-lg-12 ">
				<div class="panel panel-default">
					<div class="panel-heading">
						Total Traffic Chart
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body main-chart">
						<div class="canvas-wrapper" id="new-chart2">
							<canvas class="" id="myChart2" height="150" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
    </div>
{% endblock %}