{% extends "template.html" %}
{% block content %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active">Machine Learning Models</li>
        </ol>
    </div>
    <div class="panel panel-container">
			<div class="row">
				<div class="col-xs-6 col-md-3 col-lg-2 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
                            <em class="fa fa-xl fa-exchange" style="color: #ED6A5A"></em><em class="fa fa-xl fa-search" style="color: #ED6A5A"></em>
							<div class="large" id="traffic-forecast">0</div>
							<div class="text-muted">Traffic Forecast (msg)</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fa-clipboard" style="color: #5386E4"></em>
							<div class="large" id="text2">10</div>
							<div class="text-muted">Models In Use</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-4 no-padding">
					<div class="panel panel-orange panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fa-calendar"style="color: #ED6A5A"></em>

							<div class="large" id="last_build_value">
                                NaN
                            </div>
							<div class="text-muted" id="last_build_name">Last Model Build (Energy)</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 no-padding">
					<div class="panel panel-red panel-widget border-right">
						<div class="row no-padding">
                            <em class="fa fa-xl fa-exclamation" style="color: #5386E4"></em>
							<div class="large" id="text4">0.3</div>
							<div class="text-muted">Over Error Rate</div>
						</div>
					</div>
				</div>
                <div class="col-xs-6 col-md-3 col-lg-2 no-padding">
					<div class="panel panel-red panel-widget ">
						<div class="row no-padding">
                            <em class="fa fa-xl fa-bolt" style="color: #ED6A5A"></em><em class="fa fa-xl fa-search" style="color: #ED6A5A"></em>
							<div class="large" id="energy-forecast">0</div>
							<div class="text-muted">Energy Forecast (KJ)</div>
						</div>
					</div>
				</div>
			</div><!--/.row-->
		</div>

        <div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
                        Total Energy Consumption Forecast Model
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body main-chart">
						<div class="canvas-wrapper">
							<canvas class="chart " id="energy-chart" height="300" width="600" ></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Total Traffic Forecast Model
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body main-chart">
						<div class="canvas-wrapper" >
							<canvas class="chart"  id="traffic-chart" height="300" width="600" ></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
					           <select  id="sel" class="btn btn-default dropdown-toggle margin">
                                   <option id="option"></option>
                               </select>
                        <p3 id="single-energy-chart">Sensor Data Forecast Model </p3>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body main-chart">
						<div class="canvas-wrapper " id="new-chart4">
							<canvas class="chart " id="myChart4" height="300" width="600" ></canvas>
						</div>
					</div>
				</div>
			</div>
        <div class="col-lg-6" style="height: 350px; overflow: auto;">
            <table class="table table-bordered">

          <thead>
            <tr>
           <th>Model Type</th>
           <th>Model Name</th>
           <th>Last Build</th>
            <th>RMSE</th>
            <th>SMAPE</th>
            <th>MASE</th>
            <th>Horizon</th>
            <th>Build</th>
            </tr>
            </thead>
            <tbody id = "tbody" style="word-break: break-all;">
            <tr>
           <td id="energy-1">Energy</td>

           <td id="energy-2"></td>
            <td id="energy-3"></td>
            <td id="energy-4"></td>
            <td id="energy-5"></td>
            <td id="energy-6"></td>
           <td id="energy-7"></td>
            <td><button id="train-button-energy" class="btn btn-sm btn-primary" >Train</button></td>
            </tr>
            <tr >
            <td id="traffic-1">Traffic</td>
            <td id="traffic-2"></td>
            <td id="traffic-3"></td>
            <td id="traffic-4"></td>
            <td id="traffic-5"></td>
            <td id="traffic-6"></td>
            <td id="traffic-7"></td>
            <td id="traffic-1"><button id="train-button-traffic" class="btn btn-sm btn-primary" type="button">Train</button></td>
            </tr>

            </tbody>

            </table>


        </div>
        </div>

{% endblock %}
{% block scripts %}
    <script src="/static/dashboard/js/charts/chart-config.js"></script>
     <script>

            </script>
    <script src="../static/login/vendor/dist/Chart.min.js"></script>
    <script src="/static/dashboard/js/charts/ml-model-charts.js"></script>
{% endblock %}