{% extends "template.html" %}
{% block content %}

		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Simulation</li>
			</ol>
		</div>
<h1 style="text-align: center"> Job in progress</h1>
{% endblock %}
{% block scripts %}
	<script src="../static/login/vendor/dist/Chart.min.js"></script>
    <script src="../static/dashboard/js/charts/chart-config.js"></script>
	<script src="../static/dashboard/js/charts/main-charts.js"></script>
{% endblock %}